<footer>
    <div class="footTitle">
        <h2>Arturo International</h2>
    </div>
    <Ul class="footLinks">
        <li><a href="/categories/index.html">Categories</a></li>
        <li><a href="/brands/index.html">Brands</a></li>
        <li><a href="/contact/index.html">Contact</a></li>
    </Ul>
    <p> &copy 2025, Arturo International</p>
</footer>