<header>
    <div class="navbar">
        <div class="title">
            <h1>Arturo International</h1>
        </div>
        <input class="checkbox" type="checkbox">
        <img class="burger" src="https://res.cloudinary.com/dvoigkose/image/upload/v1746656728/menu_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40_ddvdo0.png">
        <img class="close" src="https://res.cloudinary.com/dvoigkose/image/upload/v1746656728/close_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40_hzr6bm.png">
        <div class="burgerMenu">
            <a class="HeaderLink" href="/categories/index.html">Categories</a>
            <a class="HeaderLink" href="/brands/index.html">Brands</a>
            <a class="HeaderLink" href="/carrito/index.html">Carrito</a>
        </div>
        <div class="headLinks">
            <a class="HeaderLink" href="/categories/index.html">Categories</a>
            <a class="HeaderLink" href="/brands/index.html">Brands</a>
            <a class="HeaderLink" href="/carrito/index.html">Carrito</a>
        </div> 
    </div>
</header>