.main-article{
    margin: 2em;
    .flow{
        .upper{
            display: flex;
            flex-direction: row;
            gap: 2.5em;
            margin-bottom: 2.5em;
            .sum{
                h1{
                    font-size: var(--size-5);
                }
                p{
                    font-size: var(--size-2);
                }
            }
        }
        .content{
            p{
                font-size: var(--size-2);
            }
        }
    }
    &__figure{
        img{
            height: auto;
            width: 100%;
            max-width: 600px;
        }
    }
}