---
title: "Brand 2"
layout: 'baseArt.njk'
---
<h1 class="Titulo">Maxima</h1>

<ul role="list" class="articles__list">
    {%- for post in collections.Maxima | reverse -%}
    {% include 'snippet.njk' %}
    {%- endfor -%}
</ul>