---
title: "Brands"
layout: 'baseArt.njk'
---
<h1 class="Titulo">Brands</h1>

<ul class="cat">
    <li class="cat__list">
        <a href="/brand1/index.html" class="cat__list__art">NutriHair</a>
    </li>
    <li class="cat__list">
        <a href="/brand2/index.html" class="cat__list__art">Maxima</a>
    </li>
</ul>