---
title: "Mascarilla"
layout: 'baseArt.njk'
---
<h1 class="Titulo">Mascarilla</h1>

<ul role="list" class="articles__list">
    {%- for post in collections.mascarilla | reverse -%}
    {% include 'snippet.njk' %}
    {%- endfor -%}
</ul>