---
title: "Contacto"
layout: 'baseArt.njk'
---
<h1 class="Titulo">Contacto</h1>

<div class="contactContainer">
    <h2 class="contactTitle">Contactanos</h2>
    <ul>
        <li>Telefono: <a href="tel:+12017372616">(201)737-2616</a></li>
        <li>Correo: <a href="mailto:abelbelendiaz@gmail.com">abelbelendiaz@gmail.com</a></li>
        <li>Direccion: 60 Johnston Ave.</a></li>
        <li>           Kearny, NJ 07032</a></li>
    </ul>
</div>